@import "../node_modules/swiper/swiper-bundle.css";
@import "../node_modules/@fancyapps/ui/dist/fancybox/fancybox.css";
@import "../node_modules/choices.js/public/assets/styles/choices.css";
@import "../node_modules/flatpickr/dist/flatpickr.min.css";

@import "config/vars";
@import "config/fonts";
@import "config/reset";
@import "config/base";

* {
}

// ui
@import "./ui/breadcrumbs.scss";
@import "./ui/buttons.scss";
@import "./ui/callout.scss";
@import "./ui/counter.scss";
@import "./ui/daypicker.scss";
@import "./ui/dropdown.scss";
@import "./ui/forms.scss";
@import "./ui/preloader.scss";
@import "./ui/slider.scss";
@import "./ui/socials.scss";
@import "./ui/titles.scss";
@import "./ui/modal.scss";

// components
@import "./components/_education.scss";
@import "./components/best-offers.scss";
@import "./components/editor-styles.scss";
@import "./components/features.scss";
@import "./components/footer.scss";
@import "./components/gtm-search.scss";
@import "./components/header.scss";
@import "./components/hotel.scss";
@import "./components/main-banners.scss";
@import "./components/main-pages-grid.scss";
@import "./components/megamenu.scss";
@import "./components/mobile-nav.scss";
@import "./components/modal.scss";
@import "./components/partners.scss";
@import "./components/promo-banner.scss";
@import "./components/subscruibe.scss";

// pages
@import "./page/award.scss";
@import "./page/best-offers-page.scss";
@import "./page/countries.scss";
@import "./page/country-hotels.scss";
@import "./page/fit.scss";
@import "./page/insurance.scss";
@import "./page/mice.scss";
@import "./page/news.scss";
@import "./page/projects.scss";
@import "./page/promo.scss";
@import "./page/reviews.scss";
@import "./page/services.scss";
@import "./page/single-country.scss";
@import "./page/single-hotel.scss";
@import "./page/tour.scss";
@import "./page/visa.scss";

.phone-link {
  display: inline-block;
  color: $red;
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 14px;
  line-height: 100%;
  transition: $trans-text;
  font-weight: 700;

  span {
    color: $text-gray;
    font-size: 12px;
  }

  &:hover {
    color: $text-black;
  }
}

.currency-item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.currency-item__title {
  color: $text-gray;
}

.currency-item__value {
}

.swiper {
  max-width: 100%;
}

.sub-menu {
  // display: none;
}

.archive-header {
  margin-top: 40px;
}

.post-content-section {
  max-width: 800px;
  width: 100%;
  margin: 64px auto 0;
}

.archive-page-head {
}

.archive-page__top {
  padding-bottom: 24px;
  border-bottom: 1px solid #dbdbdb;
}

.archive-page__title {
}
.archive-page__excerpt {
  margin-top: 8px;
  color: #5c5c5c;
  margin-bottom: 0;
  p {
    margin-bottom: 0;
  }

  &.--row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;

    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 8px;
    }
  }
}

.archive-page__content-section {
  margin-top: 64px;
}

.archive-page__content {
}

@media screen and (max-width: 1024px) {
  .review-card__company-logo {
    width: 120px;
  }

  .review-card__body {
    gap: 16px;
  }

  .review-card__date {
    display: none;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
  .review-card__footer {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
  }

  .review-card__company-logo {
    width: 120px;
  }

  .review-card__body {
    flex-direction: column;
  }

  .review-card__company {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .review-card__company-info {
    margin-top: 0;
  }

  .review-card__company {
    gap: 16px;
  }

  // .review-card__date {
  //   display: block;
  // }
  .review-card__company-name {
    font-size: 16px;
    font-weight: 700;
  }
}

.read-content {
  margin: 0 auto;
  max-width: 900px;
}
