.award-page__top {
  padding-bottom: 24px;
  border-bottom: 1px solid #bebebe;

  p {
    margin-bottom: 0;
  }
}

.page-award__title {
  margin-bottom: 0;
}

.page-award__excerpt {
  margin-top: 8px;
  color: $text-gray;
}
.page-award__content {
  margin-top: 24px;
}

.awards-year__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px 16px;
  margin-top: 16px;
}

.award-card__image {
  width: 100%;
  aspect-ratio: 12/16;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.award-card__title {
  line-height: 120%;
  font-size: 18px;
  margin-top: 16px;
}

.award-card__excerpt {
  margin-top: 8px;
  color: $text-gray;
}

.awards-year {
  margin-bottom: 64px;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.awards-year__title {
  font-size: 20px;
  padding-left: 32px;
  position: relative;
  font-weight: 700;

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 24px;
    left: 0;
    top: 8px;
    background: $red;
  }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 768px) {
  .awards-year__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .awards-year__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
