.best-offers-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-top: 40px;

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 32px;
  }

  @media screen and (max-width: 768px) {
    margin-top: 16px;
    grid-template-columns: repeat(1, 1fr);
  }
}

.best-offers-section {
  margin-bottom: 64px;
}

.best-offers-section__descr {
  color: #5c5c5c;
  padding-left: 16px;
  position: relative;
  margin-top: 16px;
  margin-bottom: 0;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background: #ee3145;
    border-radius: 4px;
  }
}
