.fit-form__section {
  margin-top: 32px;
}

.fit-page__description {
  // color: $text-gray;
  margin-bottom: 0;
}

.fit-form__wrap {
  border-top: 1px solid $red;
  padding-top: 32px;
}

.fit-form {
  // margin-top: 40px;
}

.form-group__title {
  padding-bottom: 16px;
  border-bottom: 1px solid $bg-gray-light;
  margin-bottom: 24px;
}

.fit-form__bottom {
  margin-top: 32px;
  border-top: 1px solid $bg-gray-light;
  padding-top: 32px;
}

.fit-form__btn-submit {
  margin-top: 24px;
  width: 100%;
}

.fit-form__policy {
  margin-top: 4px;
}

// checkbox
.checkbox-item {
  display: block;
  margin-bottom: 15px;
}

.checkbox-item input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.checkbox-item label {
  position: relative;
  cursor: pointer;
  margin-top: 2px;
  display: block;
  &::after {
    transition: $trans-text;
    opacity: 0;
  }
}

.checkbox-item label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid $red;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-top: -2px;
  border-radius: 4px;
  margin-right: 8px;
}

.checkbox-item input:checked + label:after {
  content: "";
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid $red;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
