.mice-hero-section {
  margin-top: 40px;
}

.mice-hero__wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.mice-hero-item {
  border-radius: 8px;
  overflow: hidden;
  background: $bg-gray;
  padding: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  aspect-ratio: 6/3;
  color: #fff;
  justify-content: flex-end;
}

.mice-hero-item__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.mice-hero-item__title {
  font-weight: 700;
  font-size: 20px;
}

.mice-hero-item__descr {
  margin-top: 8px;
}

.mice-hero-item__link {
  margin-left: auto;
  font-weight: 500;
}

.mice-benefits-section {
  margin-top: 120px;
  @media screen and (max-width: 768px) {
    margin-top: 80px;
  }
}

.mice-benefit__wrap {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  margin-top: 24px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    :last-child {
      grid-column: 1 / -1;
    }
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    > :last-child {
      grid-column: span 2;
    }
  }
}

.mice-benefits-section__title {
}

.mice-benefit {
  display: flex;
  background: $bg-gray;
  border-radius: 8px;
  flex-direction: column;
  padding: 8px;
}

.mice-benefit__title {
  font-weight: 700;
  font-size: 20px;
  color: $red;
}

.mice-benefit__text {
  margin-top: 8px;
  background: #fff;
  border-radius: 8px;
  padding: 12px;
  line-height: 140%;
  height: 100%;
  @media screen and (max-width: 1200px) {
    font-size: 14px;
  }
}

.page-mice-cta {
  margin-top: 120px;
  @media screen and (max-width: 768px) {
    margin-top: 80px;
  }
}

.page-mice-cta__description {
  margin-top: 16px;
}

.page-mice-cta__wrap {
  padding: 20px;
  border-radius: 12px;
  background: $bg-gray;

  @media screen and (max-width: 768px) {
    padding: 16px;
  }
}

.page-mice-cta-submit {
  margin-top: 16px;
  width: 100%;
}
