.projects-slider-section {
  margin-top: 120px;
  @media screen and (max-width: 768px) {
    margin-top: 80px;
  }
}

.projects-slider-section__content {
  margin-top: 24px;
}

.project-card {
  &:hover {
    color: inherit;

    .project-card__media img {
      transform: scale(1.05);
    }
  }
}

.project-card__media {
  border-radius: 8px;
  overflow: hidden;
  aspect-ratio: 16/9;

  img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    object-fit: cover;
  }
}

.project-card__body {
  margin-top: 8px;
}

.project-card__flag {
  width: 24px;
  height: 24px;
  display: block;
  border-radius: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.project-card__country {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}

.project-card__title {
  font-size: 18px;
  margin-top: 4px;
  font-weight: 700;
}

.project-card__excerpt {
  color: $text-gray;
  margin-top: 4px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;

  overflow: hidden;
}

.project-date {
  margin-left: auto;
}

.page-country__subtitle {
  display: flex;
  align-items: center;
}

.page-country__link {
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $red;
  }
}

.single-project-div {
  width: 1px;
  height: 16px;
  background: $bg-gray;
}

.page-country__title-left {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: auto;

  @media screen and (max-width: 1024px) {
    margin-left: 0;
    margin-top: 8px;
  }
}

.page-project__top {
  display: flex;
  align-items: flex-end;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.page-project__title {
  margin-bottom: 0;
}

.projects-archive__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-top: 32px;

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.projects-archive {
}
