.page-country__top {
}

.page-country__title {
  display: flex;
  align-items: center;
  gap: 12px;
  line-height: 100%;
  img {
    height: 42px;
    width: 42px;
    display: block;
    border-radius: 100%;
    border: 1px solid #cecece;
    object-fit: cover;
  }

  @media screen and (max-width: 1200px) {
    img {
      width: 32px;
      height: 32px;
    }
  }
}
.country-page__values {
  margin-top: 34px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.country-attr {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: #faf6f5;
  padding: 16px;
  border-radius: 8px;

  img {
    width: 48px;
    height: auto;
    display: block;
  }
}

.coutry-page__wrap > * {
  min-width: 0;
}

.page-country__content {
  min-width: 0;
}

.country-page__gallery {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  min-width: 0;
}

.country-page__gallery .swiper {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  min-width: 0;
}

.country-page__gallery .swiper,
.country-page__gallery .swiper-wrapper,
.country-page__gallery .swiper-slide {
  max-width: 100%;
  min-width: 0; /* тоже помогает, если внутри ещё flex */
}

.country-attr__key {
  font-weight: 600;
}

.country-attr__value {
}

.country-attr-item {
  display: flex;
  align-items: center;
  font-weight: 400;
  gap: 8px;
  line-height: 100%;
  background: $bg-gray;
  padding: 6px 12px;
  border-radius: 8px;

  p {
    margin-bottom: 0;
  }

  svg {
    width: 20px;
    height: 20px;
    display: block;
  }
}

.country-page__top-info {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.page-country__descr {
  color: $text-gray;
  padding-left: 16px;
  position: relative;
  margin-top: 16px;
  margin-bottom: 0;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background: $red;
    border-radius: 4px;
  }
}

.child-pages__list {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1200px) {
    flex-wrap: wrap;
    flex-direction: row;
  }

  @media screen and (max-width: 768px) {
    gap: 4px;
  }
}

.child-page-accordion {
  &.is-open {
    .child-page-item {
      background: $bg-gray;
      &.active {
        background: $red;
        color: #fff;
      }
    }

    .child-page-item__chevrone {
      transform: rotate(180deg);
    }
  }

  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.child-page-item__chevrone {
  margin-left: auto;
  img {
    display: block;
  }
}

.child-page-submenu {
  // display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 12px 0;
  position: relative;
}

.child-page-subitem {
  display: block;
  padding-left: 16px;
  margin-bottom: 8px;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  &::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 11px;
    width: 6px;
    height: 2px;
    background: $red;
    border-radius: 2px;
  }
}
.child-page-item {
  padding: 12px 12px 10px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: $trans-text;
  display: flex;
  cursor: pointer;
  line-height: 100%;
  border-radius: 8px;

  &.--mobile {
    display: none;

    @media screen and (max-width: 1200px) {
      display: flex;
    }
  }
  &:hover {
    background: $bg-gray;
    color: $red;
    // color: #fff;

    .child-page-item__icon {
      color: $red;
    }
  }

  &.active {
    background: $red;
    color: #fff;
    &:hover {
      // color: #fff;
      .child-page-item__icon {
        color: #fff;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    padding: 8px 12px;
    width: auto;
  }

  @media screen and (max-width: 768px) {
    background: $bg-gray;
    line-height: 100%;
    padding: 6px 10px;
    border-radius: 8px;
  }
}

.child-page-item__icon {
  width: 20px;
  height: 20px;
  transition: all 0.3s ease-in-out;

  svg {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.coutry-page__wrap {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 32px;
  align-items: flex-start;

  @media screen and (max-width: 1200px) {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

.coutry-page__aside {
  position: sticky;
  top: 40px;
  margin-top: 8px;

  @media screen and (max-width: 1200px) {
    margin-top: 0;
    position: static;
  }
}

.page-country__about {
  padding-bottom: 40px;
  margin-bottom: 32px;
  border-bottom: 1px solid $bg-gray-light;
}

.country-page__gallery {
}

.country-page__gallery-slide {
  width: 100%;
  overflow: hidden;
  border-radius: 8px;

  img {
    width: auto;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
  }

  &:hover img {
    transform: scale(1.05);
  }
}

.country-regions {
  padding: 16px;
  border-radius: 8px;
  background: $bg-gray;
}

.country-regions__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

  margin-top: 12px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
}

.country-regions__resort {
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $red;
  }
}

.page-country__editor-content {
  margin-top: 40px;
}

.country-regions__title {
  font-weight: 700;
  font-size: 18px;
}

.country-regions__resorts {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media screen and (max-width: 768px) {
    gap: 8px;
    margin-top: 12px;
  }
}

.country-regions__link {
  font-weight: 700;
  font-size: 18px;
}

.hotel-gallery-main-slide {
  aspect-ratio: 19/9;
  display: block;
  height: 600px;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: 1024px) {
    height: auto;
  }
}

.js-gallery {
}

.hotel-gallery-thumb-slide {
  // aspect-ratio: 16/9;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.country-promos__title {
  margin-bottom: 0;
}

.country-promos__counter {
  margin-top: 16px;
}

.page-country__resort-about {
  margin-bottom: 0;
  padding-bottom: 24px;
}

.page-country__resort-title {
}

.tour-program {
  margin-top: 64px;
}

.tour-program__acc-head {
  display: flex;
  align-content: inherit;
  justify-content: space-between;
}
