.single-hotel__title-wrap {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  align-items: flex-start;
  justify-content: space-between;
}

.single-hotel__print-btn {
  flex-shrink: 0;
  display: none;
}

.single-hotel__title {
  margin-bottom: 12px;
  flex-grow: 1;

  @media screen and (max-width: 768px) {
    font-size: 24px;
  }
}

.single-hotel__address {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 100%;

  img {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    object-fit: cover;
    border: 1px solid #000;
  }
}

.single-hotel__warn {
  margin-top: 64px;
}

.single-hotel__main-opts {
  margin-top: 16px;
}

.single-hotel__top-line {
  display: flex;
  // margin-top: 8px;
  align-items: center;
  gap: 16px;

  .div {
    width: 1px;
    height: 16px;
    background: $bg-gray;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    .div {
      display: none;
    }
  }
}

.stars-rating {
  color: #ffd700;
  display: flex;
  align-items: center;
  gap: 2px;

  svg {
    display: block;
  }
}

.single-hotel__gallery-section {
  margin-top: 20px;
}

.hotel-gallery__wrap {
  // padding-top: 32px;
  // border-top: 1px solid $bg-gray;
}

.hotel-gallery__wrap {
  // display: grid;
  // grid-template-columns: repeat(4, 1fr);
  // gap: 16px;
}

.single-hotel__content {
  margin-top: 32px;
}

.hotel-gallery-main-slider {
  position: relative;
}

.hotel-gallery-main-slide {
  border-radius: 8px;
  overflow: hidden;
  aspect-ratio: 16/9;
}

.hotel-gallery-main-slide img {
  width: 100%;
  height: 100%;
}

.hotel-gallery-thumb-slide {
  border-radius: 8px;
  overflow: hidden;
  aspect-ratio: 16/9;
  margin-top: 8px;
}

.hotel-gallery-main-arrow-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  left: 16px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.hotel-gallery-main-arrow-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  right: 16px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

@media screen and (max-width: 1440px) {
}

.single-hotel__content__wrap {
  gap: 16px;
  display: grid;
  grid-template-columns: 5fr 2fr;
  align-items: flex-start;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.hotel-aside {
  position: sticky;
  top: 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hotel-widget {
  background: $bg-gray;
  padding: 12px;
  border-radius: 8px;

  .single-hotel__address {
    font-size: 14px;
    font-weight: 500;
    img {
      width: 18px;
      height: 18px;
    }
  }
}

.hotel-widget__title {
  // margin-top: 8px;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 0 !important;
}

.hotel-widget__checkin-time {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 8px;
  margin-top: 12px;
}

.hotel-widget__checkin-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: #fff;
  width: 100%;
  padding: 8px 12px;
  line-height: 100%;
  border-radius: 8px;
}

.hotel-widget__checkin-label {
  font-size: 12px;
  font-weight: 700;
}

.hotel-widget__btn-book {
  width: 100%;
  margin-top: 12px;
  text-align: center;
}

.hotel-widget__btn-map {
  justify-content: center;
  width: 100%;
}

.single-hotel__rating-one {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  line-height: 100%;
  background: #fff;
  padding: 2px 4px;
  border-radius: 2px;

  svg {
    color: #ffd700;
    display: block;
  }
}

.hotel-widget__title-wrap {
  margin-top: 12px;
  display: flex;
  gap: 8px;
  align-items: flex-start;
}

.hotel-widget__contacts {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hotel-widget__contacts-item {
  display: flex;
  align-items: center;
  gap: 8px;
  a {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  img {
    display: block;
    width: 20px;
    height: 20px;
  }
}
