.single-hotel__title-wrap {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

.single-hotel__print-btn {
  flex-shrink: 0;
}

.single-hotel__title {
  margin-bottom: 12px;
  flex-grow: 1;
}

.single-hotel__address {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 100%;

  img {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    object-fit: cover;
    border: 1px solid #000;
  }
}

.single-hotel__warn {
  margin-top: 64px;
}

.single-hotel__main-opts {
  margin-top: 16px;
}

.single-hotel__top-line {
  display: flex;
  // margin-top: 8px;
  align-items: center;
  gap: 16px;

  .div {
    width: 1px;
    height: 16px;
    background: $bg-gray;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    .div {
      display: none;
    }
  }
}

.stars-rating {
  color: #ffd700;
  display: flex;
  align-items: center;
  gap: 2px;

  svg {
    display: block;
  }
}

.single-hotel__gallery-section {
  margin-top: 20px;
}

.hotel-gallery__wrap {
  // padding-top: 32px;
  // border-top: 1px solid $bg-gray;
}

.hotel-gallery__wrap {
  // display: grid;
  // grid-template-columns: repeat(4, 1fr);
  // gap: 16px;
}

.single-hotel__content {
  margin-top: 32px;
}

.hotel-gallery-main-slider {
  position: relative;
}

.hotel-gallery-main-slide {
  border-radius: 8px;
  overflow: hidden;
  aspect-ratio: 16/9;
}

.hotel-gallery-main-slide img {
  width: 100%;
  height: 100%;
}

.hotel-gallery-thumb-slide {
  border-radius: 8px;
  overflow: hidden;
  aspect-ratio: 16/9;
  margin-top: 8px;
}

.hotel-gallery-main-arrow-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  left: 16px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.hotel-gallery-main-arrow-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  right: 16px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

@media screen and (max-width: 1440px) {
}
