.page-country__top {
}

.page-country__title {
  display: flex;
  align-items: center;
  gap: 12px;
  line-height: 100%;
  img {
    height: 42px;
    width: 42px;
    display: block;
    border-radius: 100%;
    border: 1px solid #cecece;
    object-fit: cover;
  }
}
.country-page__values {
  margin-top: 34px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.country-attr {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: #faf6f5;
  padding: 16px;
  border-radius: 8px;

  img {
    width: 48px;
    height: auto;
    display: block;
  }
}

.country-attr__key {
  font-weight: 600;
}

.country-attr__value {
}

.country-attr-item {
  display: flex;
  align-items: center;
  font-weight: 400;
  gap: 8px;
  line-height: 100%;

  p {
    margin-bottom: 0;
  }
}

.country-page__top-info {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.page-country__descr {
  color: $text-gray;
  padding-left: 16px;
  position: relative;
  margin-top: 24px;
  margin-bottom: 0;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background: $red;
    border-radius: 4px;
  }
}

.child-pages__list {
  display: flex;
  flex-direction: column;
  // gap: 8px;
}
.child-page-item {
  padding: 12px 12px 10px;
  // background: $bg-gray-light;
  transition: $trans-text;
  display: flex;
  cursor: pointer;
  // font-weight: 500;
  line-height: 100%;
  border-radius: 8px;
  &:hover {
    background: $bg-gray;
    // color: #fff;
  }

  &.active {
    background: $red;
    color: #fff;
  }
}

.coutry-page__wrap {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 32px;
  align-items: flex-start;
}

.coutry-page__aside {
  position: sticky;
  top: 40px;
  margin-top: 8px;
}

.page-country__about {
  padding-bottom: 40px;
  margin-bottom: 32px;
  border-bottom: 1px solid $bg-gray-light;
}

.country-page__gallery {
  margin-top: 32px;
}

.country-page__gallery-slide {
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 8px;

  img {
    width: auto;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
  }

  &:hover img {
    transform: scale(1.05);
  }
}
