.tour-card-row {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  position: relative;
  width: 100%;
  gap: 8px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 2fr 4fr 1fr;
  }

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.tour-card-row__tags {
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 14px;
}

.tour-card-row__tag {
  background: #fff;
  line-height: 100%;
  padding: 4px 8px;
  border-radius: 4px;
}

.tour-card-row__location {
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
  color: $text-gray;

  @media screen and (max-width: 768px) {
    margin-top: 12px;
  }
}

.tour-card-row__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 110%;
  margin-top: 16px;
}
.tour-card-row__btns {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 8px;
  * {
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    margin-top: 16px;
  }
}

.tour-card-row__actions {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tour-card-row__location {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.tour-card-row__poster {
  width: 100%;
  aspect-ratio: 16/10;
  overflow: hidden;
  border-radius: 8px;
  a {
    display: block;
  }

  .tour-card-row__img {
    display: block;
  }
}

.tour-card-row__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tour-card-row__duration {
  margin-top: 12px;
}
.tour-card-row__route {
  margin-top: 8px;
}

.tour-card-row__duration,
.tour-card-row__route {
  display: flex;
  gap: 8px;
  line-height: 120%;
}

.tour-card-row__duration-label,
.tour-card-row__route-label {
  width: 20px;
  display: block;
  height: 20px;
  flex-shrink: 0;
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.tour-card-row__duration-value {
  margin-top: 2px;
}

.country-tours__list {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tour-card-row__included {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.tour-tag {
  display: inline-flex;
  align-items: center;
  background: $bg-gray;
  border-radius: 4px;
  padding: 4px 6px;
  font-size: 14px;
  line-height: 100%;

  &.white {
    background: #fff;
  }
  img {
    width: 18px;
    height: 18px;
    display: block;
    margin-right: 4px;
  }
}

.tour-card-row__actions_title {
  font-size: 14px;
  font-weight: 500;
  color: $text-gray;
  line-height: 100%;
  margin-bottom: 8px;
}

.tour-gallery-section {
  .single-hotel__gallery-section {
    margin-top: 0;
  }
}

.tour-program__title {
  margin-bottom: 0 !important;
}

.tour-program__list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.accordion__item {
  &.is-open {
    .accordion__title {
      color: $red;
    }

    .accordion__icon {
      transform: rotate(180deg);
      color: $red;
    }
  }
}

.accordion__title {
  text-align: left;
}

.tour-program__day-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  background: $bg-gray;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;

  &.is-open {
    background: $red;
    color: #fff;
  }
}

.accordion__content {
  padding: 16px;
}

.tour-included {
  margin-top: 64px;
  @media screen and (max-width: 1024px) {
    margin-top: 40px;
  }
}

.tour-not-included {
  margin-top: 64px;
  @media screen and (max-width: 1024px) {
    margin-top: 40px;
  }
}

.tour-extra {
  margin-top: 64px;
  @media screen and (max-width: 1024px) {
    margin-top: 40px;
  }
}

.sigle-tour-include {
  margin-top: 12px;
}

.single-tour-content {
  margin-top: 64px;
  @media screen and (max-width: 1024px) {
    margin-top: 40px;
  }
}

.country-tours__filters {
  padding: 12px;
  background: $bg-gray;
  margin-top: 16px;
  border-radius: 8px;
}

.country-tours__filters-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.tours-filter__label {
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 8px;
}

.tours-filter__select {
  border-radius: 8px;

  .choices__inner {
    border-radius: 8px;
  }
}

.tours-filter__field {
  .choices__inner {
    border-radius: 8px;
  }
}
