.visa-page__content {
  max-width: 720px;
  margin: 40px auto 0;
}

.visa-page__poster {
  overflow: hidden;
  border-radius: 8px;
}

.visa-costs__section {
  margin-top: 24px;
}

.visa-costs__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.archive-page__top:has(.visa-disclaimer) {
  border: none;
  padding-bottom: 0;
}

.visa-disclaimer {
  margin-top: 16px;
  font-size: 18px;
  margin-bottom: 0;
  line-height: 1.4;

  @media screen and (max-width: 1200px) {
    max-width: 80%;
  }

  @media screen and (max-width: 768px) {
    max-width: 100%;
  }

  @media screen and (max-width: 480px) {
    font-size: 16px;
  }
}

.visa-cost-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 16px;
  line-height: 1.5;
}

.visa-cost-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  color: $text-gray;

  svg {
    width: 24px;
    height: 24px;
  }
}

.visa-cost-item__included {
  flex-basis: 100%;
  font-size: 14px;
  color: $text-gray;
  padding-left: 32px;

  p {
    margin: 0;
  }
}

.visa-cost-item__title {
  color: inherit;
  font-weight: 500;
  line-height: 100%;
}

.visa-cost-item__separator {
  flex-grow: 1;
  height: 1px;
  border-bottom: 1px dashed #bebebe;
  margin: 0 8px;
}

.visa-cost-item__price {
  flex-shrink: 0;
  color: inherit;
  line-height: 100%;
}

.visa-page__info-section {
  margin-top: 24px;
}

.visa-page__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-bottom: 16px;

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
    margin-bottom: 32px;
  }
}

.visa-info-img {
  border-radius: 8px;
  overflow: hidden;
  max-width: 100%;
  width: 100%;

  img {
    object-fit: cover;
  }
}

.visa-page-anchor-form {
  display: flex;
  align-items: center;
  gap: 8px;
}

.visa-page-anchor-form span {
  color: $red;
}

.visa-info-item {
  border-radius: 8px;
  max-width: 82%;

  &.--warn {
    margin-top: 8px;

    p {
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: 768px) {
    max-width: 100%;
  }
}

.visa-info-item__title {
  display: flex;
  align-items: center;
  gap: 12px;

  p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
  }

  svg {
    display: block;
  }
}

.visa-info-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  color: $text-gray;

  svg {
    width: 100%;
    height: 100%;

    path {
      transition: stroke 0.3s ease-in-out;
    }
  }
}

.visa-info-item__value {
  margin-bottom: 0;
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.visa-info-item__value + .visa-info-item__value {
  margin-top: 8px;
}

.visa-info-item__value:hover {
  .visa-info-item__icon svg path {
    stroke: $red;
  }
  a {
    color: $red;
  }
}

.visa-info-item__wrap {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
}

.visa-info-advantages__wrap {
  display: flex;
  gap: 16px;
  width: 100%;

  @media screen and (max-width: 968px) {
    flex-direction: column;
  }
}

.visa-info-advantage {
  width: 100%;
  padding: 12px 16px;
  background-color: $bg-gray;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
}

.visa-info-advantage__title {
  font-size: 18px;
  font-weight: 500;
}

.visa-info-advantage__text {
  font-size: 16px;
  font-weight: 400;
}

.visa-page-features__section {
  margin-top: 120px;

  @media screen and (max-width: 1200px) {
    margin-top: 80px;
  }
}

.visa-page-features__wrap {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.visa-page-features__item {
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #bebebe;
}

.visa-page-features__item__wrap {
  // background: #fff;
  border-radius: 8px;
  padding: 8px;
  height: 100%;
}

.visa-page-steps__section {
  margin-top: 80px;

  @media screen and (max-width: 1200px) {
    margin-top: 80px;
  }
}

.visa-page-steps__wrap {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.visa-page-steps-item {
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  padding: 12px;
  position: relative;
  background-color: #f9f9f9;
}

.visa-page-steps-item__top {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 100%;
}

.visa-page-steps-item__num {
  background: $red;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}

.visa-page-steps-item__title {
  font-weight: 500;
  font-size: 18px;
}

.visa-page-steps-item__description {
  margin-top: 8px;
  line-height: 130%;
  color: #484848;
}

/* Стрелки только на десктопе */
@media screen and (min-width: 1201px) {
  .visa-page-steps__wrap {
    position: relative;
  }

  /* Нижняя стрелка */
  .visa-page-steps-item[data-arrow="bottom"]::after {
    content: "";
    position: absolute;
    left: 100%;
    bottom: -13px; /* фиксируем от нижнего края карточки */
    transform: translateX(-50%);
    width: calc(100% + 80px);
    max-width: 110%;
    height: 13px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='330' height='13' viewBox='0 0 330 13' fill='none'%3E%3Cpath d='M1.9977 0.5C1.16564 0.5 0.5 1.19565 0.5 2.06522C0.5 2.93478 1.16564 3.63043 1.9977 3.63043C2.82975 3.63043 3.49539 2.93478 3.49539 2.06522C3.49539 1.19565 2.82975 0.5 1.9977 0.5Z' fill='white'/%3E%3Cpath d='M325.854 1.71166C325.658 1.5164 325.342 1.5164 325.146 1.71166L321.964 4.89364C321.769 5.08891 321.769 5.40549 321.964 5.60075C322.16 5.79601 322.476 5.79601 322.672 5.60075L325.5 2.77232L328.328 5.60075C328.524 5.79601 328.84 5.79601 329.036 5.60075C329.231 5.40549 329.231 5.08891 329.036 4.89364L325.854 1.71166ZM0.5 2.06522H1C1 1.45079 1.46234 1 1.9977 1V0.5V0C0.86895 0 0 0.940518 0 2.06522H0.5ZM1.9977 0.5V1C2.53306 1 2.99539 1.45079 2.99539 2.06522H3.49539H3.99539C3.99539 0.940518 3.12644 0 1.9977 0V0.5ZM3.49539 2.06522H2.99539C2.99539 2.67965 2.53306 3.13043 1.9977 3.13043V3.63043V4.13043C3.12644 4.13043 3.99539 3.18992 3.99539 2.06522H3.49539ZM1.9977 3.63043V3.13043C1.46234 3.13043 1 2.67965 1 2.06522H0.5H0C0 3.18992 0.86895 4.13043 1.9977 4.13043V3.63043ZM1.9977 3.63043H1.4977V8.5H1.9977H2.4977V3.63043H1.9977ZM5.9977 12.5V13H321.5V12.5V12H5.9977V12.5ZM325.5 8.5H326V2.06522H325.5H325V8.5H325.5ZM321.5 12.5V13C323.985 13 326 10.9853 326 8.5H325.5H325C325 10.433 323.433 12 321.5 12V12.5ZM1.9977 8.5H1.4977C1.4977 10.9853 3.51241 13 5.9977 13V12.5V12C4.0647 12 2.4977 10.433 2.4977 8.5H1.9977Z' fill='%23373535'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    z-index: 5;
  }

  /* Верхняя стрелка */
  .visa-page-steps-item[data-arrow="top"]::after {
    content: "";
    position: absolute;
    left: 100%;
    top: -13px; /* фиксируем от верхнего края карточки */
    transform: translateX(-50%);
    width: calc(100% + 80px);
    max-width: 110%;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='330' height='14' viewBox='0 0 330 14' fill='none'%3E%3Cpath d='M2 13.3491C1.16667 13.3491 0.5 12.6042 0.5 11.6731C0.5 10.742 1.16667 9.99717 2 9.99717C2.83333 9.99717 3.5 10.742 3.5 11.6731C3.5 12.6042 2.83333 13.3491 2 13.3491Z' fill='white'/%3E%3Cpath d='M326.354 12.0267C326.158 12.222 325.842 12.222 325.646 12.0267L322.464 8.84472C322.269 8.64945 322.269 8.33287 322.464 8.13761C322.66 7.94235 322.976 7.94235 323.172 8.13761L326 10.966L328.828 8.13761C329.024 7.94235 329.34 7.94235 329.536 8.13761C329.731 8.33287 329.731 8.64945 329.536 8.84472L326.354 12.0267ZM0.5 11.6731H1C1 12.3817 1.49353 12.8491 2 12.8491V13.3491V13.8491C0.839808 13.8491 0 12.8268 0 11.6731H0.5ZM2 13.3491V12.8491C2.50647 12.8491 3 12.3817 3 11.6731H3.5H4C4 12.8268 3.16019 13.8491 2 13.8491V13.3491ZM3.5 11.6731H3C3 10.9646 2.50647 10.4972 2 10.4972V9.99717V9.49717C3.16019 9.49717 4 10.5195 4 11.6731H3.5ZM2 9.99717V10.4972C1.49353 10.4972 1 10.9646 1 11.6731H0.5H0C0 10.5195 0.839808 9.49717 2 9.49717V9.99717ZM2 9.99717H1.5V4.49996H2H2.5V9.99717H2ZM6 0.49996V-4.00543e-05H322V0.49996V0.99996H6V0.49996ZM326 4.49996H326.5V11.6731H326H325.5V4.49996H326ZM322 0.49996V-4.00543e-05C324.485 -4.00543e-05 326.5 2.01468 326.5 4.49996H326H325.5C325.5 2.56696 323.933 0.99996 322 0.99996V0.49996ZM2 4.49996H1.5C1.5 2.01468 3.51472 -4.00543e-05 6 -4.00543e-05V0.49996V0.99996C4.067 0.99996 2.5 2.56696 2.5 4.49996H2Z' fill='%23373535'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    z-index: 5;
  }
}

.visa-page-consultation__section {
  margin-top: 80px;

  @media screen and (max-width: 1200px) {
    margin-top: 80px;
  }
}

.visa-page-contacts__section {
  margin-top: 80px;

  @media screen and (max-width: 768px) {
    margin-top: 80px;
  }
}

.visa-contact-item {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 8px;
  background-color: $bg-gray;
  width: 100%;
}

.visa-page-contacts__wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  margin-top: 16px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.visa-contact-item__name {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 2px;
}

.visa-contact-item__direction {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  margin-top: 4px;
  color: $text-gray;
}

.visa-contact-item__phone {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 8px;
  margin-top: 8px;

  &:last-child {
    margin-top: 0;
    margin-bottom: 0;
  }

  &:hover {
    .visa-contacts-item__icon svg path {
      stroke: $red;
    }
    a {
      color: $red;
    }
  }
}

.visa-contact-item__email {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 8px;
  margin-top: 8px;

  &:last-child {
    margin-top: 0;
    margin-bottom: 0;
  }

  &:hover {
    .visa-contacts-item__icon svg path {
      stroke: $red;
    }
    a {
      color: $red;
    }
  }
}

.visa-contact-item__links {
  display: flex;
  flex-direction: column;
  line-height: 100%;
  margin-top: 8px;
}

.visa-contact-item__link {
  display: flex;
  align-items: center;
  gap: 8px;

  svg {
    display: block;
    width: 20px;
    height: 20px;
  }
}

.visa-consultation-form {
  margin-top: 32px;
  border-radius: 8px;
}

.visa-consultation-form__descr {
  color: $text-gray;
  margin-top: 8px;
  margin-bottom: 0;
}

.visa-page-countries-section {
  margin-top: 80px;

  @media screen and (max-width: 768px) {
    margin-top: 80px;
  }
}

.visa-countries__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
  gap: 40px 16px;

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 640px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.visa-country-card {
}

.visa-country-card__head {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  background: $bg-gray;
  border-radius: 8px;
}

.visa-country-card__flag {
  width: 32px;
  border-radius: 100%;
  height: 32px;
  overflow: hidden;
  object-fit: cover;
  flex: 0 0 auto;
}

.visa-country-card__title {
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
}

.visa-country-card__amount {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.visa-country-card__types {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 8px;
}

.visa-country-card__type {
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  &::before {
    content: "";
    height: 18px;
    width: 18px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M5.25 5.25H12.75M12.75 5.25V12.75M12.75 5.25L5.25 12.75' stroke='%23EF0101' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &:hover {
    color: $red;
  }
}

.visa-country-card__price {
  font-size: 14px;
  font-weight: 400;
  text-align: right;
  color: $text-gray;
}

.visa-consultation-form__bottom {
  display: grid;
  gap: 16px;
  margin-top: 16px;
  grid-template-columns: repeat(3, 1fr);

  .fit-form__btn-submit {
    margin-top: 0;
  }

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
  }
}

.visa-page-consultation__section {
  .input-item label {
    position: static;
    background: none;
    padding: 0;
    margin-bottom: 4px;
    font-weight: 500;
  }

  .input-item input {
    border: 1px solid #dfdfdf;
    padding: 12px 16px;
  }
}

.visa-consultation-form {
  .input-item {
    input[type="checkbox"] {
      width: 18px;
      height: 18px;
      margin: 0;
      cursor: pointer;
      accent-color: $red;
      flex-shrink: 0;
    }

    label {
      cursor: pointer;
      user-select: none;
    }
  }
}

.visa-embassy__section {
  margin-top: 20px;
  background: $bg-gray;
  border-radius: 8px;
  padding: 12px;

  @media screen and (max-width: 768px) {
    margin-top: 24px;
  }
}

.visa-embassy__title {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
}

.visa-embassy__contacts {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.visa-embassy__contact-item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 8px;
  background: #fff;
  padding: 8px;
  color: inherit;

  svg {
    display: block;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    color: $text-gray;
  }

  span {
    color: inherit;
  }
}

// Hover эффект только для ссылок
a.visa-embassy__contact-item {
  transition: color 0.3s ease-in-out;

  &:hover {
    color: $red;
  }
}

.visa-files__section {
  margin-top: 80px;

  @media screen and (max-width: 1200px) {
    margin-top: 64px;
  }

  @media screen and (max-width: 768px) {
    margin-top: 32px;
  }
}

.visa-files__list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.visa-file-item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px;
  border: 1px solid #f4f4f6;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: inherit;

  &:hover {
    color: $red;
  }
}

.visa-file-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: $bg-gray;
  border-radius: 6px;
  font-weight: 700;
  font-size: 12px;
  color: $text-gray;
  flex-shrink: 0;
  transition: all 0.3s ease-in-out;

  .visa-file-item:hover & {
    background: $red;
    color: #fff;
  }
}

.visa-file-item__name {
  flex-grow: 1;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
}

.visa-page-contacts__section {
  margin-top: 80px;
}

.visa-page-contacts__wrap {
  display: grid;
  width: 100%;
  gap: 16px;
  margin-top: 20px;
  position: relative;
  grid-template-columns: repeat(4, 1fr);

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.visa-page-contacts__item {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 8px;
  background-color: $bg-gray;
  width: 100%;
}

.visa-page-contacts__title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 2px;
}

.visa-page-contacts__text {
  font-size: 14px;
  font-weight: 400;
  color: $text-gray;
}

.visa-contacts-item__value {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 8px;
  margin-top: 8px;

  &:last-child {
    margin-top: 0;
    margin-bottom: 0;
  }

  &:hover {
    .visa-contacts-item__icon svg path {
      stroke: $red;
    }
    a {
      color: $red;
    }
  }
}

.visa-contacts-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  color: $text-gray;

  svg {
    width: 100%;
    height: 100%;

    path {
      transition: stroke 0.3s ease-in-out;
    }
  }
}

.visa-page-contacts__top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
