.visa-page__content {
  max-width: 720px;
  margin: 40px auto 0;
}

.visa-page__poster {
  overflow: hidden;
  border-radius: 12px;
}

.visa-page__info-section {
  margin-top: 24px;
}

.visa-info-item {
  padding: 12px;
  background: $bg-gray;
  border-radius: 8px;
}

.visa-info-item__title {
  display: flex;
  align-items: center;
  gap: 12px;
  p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
  }

  svg {
    display: block;
  }
}

.visa-info-item__key {
}
.visa-info-item__value {
  margin-bottom: 0;
  margin-top: 8px;
}

.visa-info-item__wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
  }
}

.visa-page-features__section {
  margin-top: 120px;
  @media screen and (max-width: 1200px) {
    margin-top: 80px;
  }
}

.visa-page-features__wrap {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.visa-page-features__item {
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #bebebe;
}

.visa-page-features__item__wrap {
  // background: #fff;
  border-radius: 8px;
  padding: 8px;
  height: 100%;
}

.visa-page-steps__section {
  margin-top: 80px;
  @media screen and (max-width: 1200px) {
    margin-top: 80px;
  }
}

.visa-page-steps__wrap {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.visa-page-steps-item {
  border: 1px solid #bebebe;
  border-radius: 8px;
  padding: 12px;
}

.visa-page-consultation__section {
  margin-top: 80px;
  @media screen and (max-width: 1200px) {
    margin-top: 80px;
  }
}

.visa-page-steps-item__top {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 100%;
}

.visa-page-steps-item__num {
  background: $red;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 28px;
  height: 28px;
}

.visa-page-steps-item__title {
  font-weight: 700;
  font-size: 18px;
}

.visa-page-steps-item__description {
  margin-top: 8px;
  line-height: 130%;
}

.visa-page-contacts__section {
  margin-top: 80px;
  @media screen and (max-width: 768px) {
    margin-top: 80px;
  }
}

.visa-contact-item {
  border: 1px solid #bebebe;
  padding: 12px;
  border-radius: 8px;
}

.visa-page-contacts__wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  margin-top: 16px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.visa-contact-item__name {
  font-weight: 500;
  font-size: 18px;
}

.visa-contact-item__direction {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  margin-top: 4px;
  color: $text-gray;
}

.visa-contact-item__phone {
}

.visa-contact-item__email {
}

.visa-contact-item__links {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  line-height: 100%;
}

.visa-contact-item__link {
  display: flex;
  align-items: center;
  gap: 8px;

  svg {
    display: block;
    width: 20px;
    height: 20px;
  }
}

.visa-consultation-form {
  padding: 24px 16px;
  background: $bg-gray;
  margin-top: 12px;
  border-radius: 8px;
}

.visa-consultation-form__descr {
  color: $text-gray;
  margin-top: 8px;
  margin-bottom: 0;
}

.visa-page-countries-section {
  margin-top: 80px;
  @media screen and (max-width: 768px) {
    margin-top: 80px;
  }
}

.visa-countries__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 20px;
  gap: 32px 8px;

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 640px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.visa-country-card {
}

.visa-country-card__head {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  background: $bg-gray;
  border-radius: 8px;
}

.visa-country-card__flag {
  width: 32px;
  border-radius: 100%;
  height: 32px;
  overflow: hidden;
  object-fit: cover;
}

.visa-country-card__title {
  font-weight: 500;
  font-size: 16px;
}

.visa-country-card__types {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 8px;
}

.visa-country-card__type {
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  position: relative;
  padding-left: 14px;

  &::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 0;
    height: 2px;
    width: 8px;
    background: $red;
  }
  &:hover {
    color: $red;
  }
}

.visa-consultation-form__bottom {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.visa-consultation-form {
  .input-item {
    input[type="checkbox"] {
      width: 18px;
      height: 18px;
      margin: 0;
      cursor: pointer;
      accent-color: $red;
      flex-shrink: 0;
    }

    label {
      cursor: pointer;
      user-select: none;
    }
  }
}
