.DS_Store
Thumbs.db
.cursor/

node_modules/
npm-debug.log*
yarn-error.log
package-lock.json
yarn.lock

build/
.cache/
.sass-cache/
.cache-loader/
coverage/
*.map

.env
.env.*
.htaccess
wp-config.php
*.sql
*.sql.gz
*.zip
*.tar.gz
*.log

vendor/
composer.lock

.idea/
.vscode/
*.sublime-*

wp-content/uploads/
wp-content/upgrade/
wp-content/cache/
wp-content/backups/
wp-content/aiowps_backups/
wp-content/mu-plugins/

.svn/
.hg/

docs