body {
  // font-family: "Nunito", sans-serif;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: $text-black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  flex-grow: 1;
}

.numfont {
  font-family: "Inter", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0 $container-padding;
  margin: 0 auto;
  max-width: $container;
}

.country-page__gallery {
  width: 999px;
}
