// @font-face {
//   font-family: "Nunito";
//   font-display: swap;
//   src: url("../../fonts/Nunito-Regular.ttf") format("truetype");
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Nunito";
//   font-display: swap;
//   src: url("../../fonts/Nunito-Black.ttf") format("truetype");
//   font-weight: 900;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Nunito";
//   font-display: swap;
//   src: url("../../fonts/Nunito-BlackItalic.ttf") format("truetype");
//   font-weight: 900;
//   font-style: italic;
// }

// @font-face {
//   font-family: "Nunito";
//   font-display: swap;
//   src: url("../../fonts/Nunito-Bold.ttf") format("truetype");
//   font-weight: 700;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Nunito";
//   font-display: swap;
//   src: url("../../fonts/Nunito-ExtraBold.ttf") format("truetype");
//   font-weight: 800;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Nunito";
//   font-display: swap;
//   src: url("../../fonts/Nunito-ExtraBoldItalic.ttf") format("truetype");
//   font-weight: 800;
//   font-style: italic;
// }

// @font-face {
//   font-family: "Nunito";
//   font-display: swap;
//   src: url("../../fonts/Nunito-Italic.ttf") format("truetype");
//   font-weight: 400;
//   font-style: italic;
// }

// @font-face {
//   font-family: "Nunito";
//   font-display: swap;
//   src: url("../../fonts/Nunito-Light.ttf") format("truetype");
//   font-weight: 300;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Nunito";
//   font-display: swap;
//   src: url("../../fonts/Nunito-LightItalic.ttf") format("truetype");
//   font-weight: 300;
//   font-style: italic;
// }

// @font-face {
//   font-family: "Nunito";
//   font-display: swap;
//   src: url("../../fonts/Nunito-Medium.ttf") format("truetype");
//   font-weight: 500;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Nunito";
//   font-display: swap;
//   src: url("../../fonts/Nunito-MediumItalic.ttf") format("truetype");
//   font-weight: 500;
//   font-style: italic;
// }

// @font-face {
//   font-family: "Nunito";
//   font-display: swap;
//   src: url("../../fonts/Nunito-SemiBold.ttf") format("truetype");
//   font-weight: 600;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Nunito";
//   font-display: swap;
//   src: url("../../fonts/Nunito-SemiBoldItalic.ttf") format("truetype");
//   font-weight: 600;
//   font-style: italic;
// }

// @font-face {
//   font-family: "Nunito";
//   font-display: swap;
//   src: url("../../fonts/Nunito-Italic.ttf") format("truetype");
//   font-weight: 400;
//   unicode-range: U+0030-0039; /* только цифры */
// }
@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0030-0039; /* только цифры */
}