$primary: #f03232;
$black: #222222;
$red: #ee3145;
$red-hover: #fb1229;

$white: #fafafa;
$gray: #737373;
$gray-light: #d9d9d9;
$bg-color: #ffffff;
$container: 1310px;
$container-padding: 15px;

// colors
$bg-body: #7f7875;
$bg-black: #000;
$bg-card: #a29c9a;
$bg-gray: #f4f4f6;
$bg-gray-light: #faf6f5;

$text-white: #ffffff;
$text-black: #000000;
$text-gray: #5c5c5c;

// trans
$trans-text: all 0.3s ease-in-out;
