.breadcrumbs {
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 150%;

  a {
    font-weight: 500;

    color: $red;
  }

  p {
    margin-bottom: 0;
  }

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

.breadcrumb-separator {
  background: $bg-gray;
  margin: 0 8px 2px;
  width: 4px;
  height: 4px;
  display: inline-block;
  border-radius: 100%;

  @media screen and (max-width: 768px) {
    margin: 0 4px 2px;
  }
}
