.breadcrumbs {
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 16px;

  a {
    font-weight: 500;

    color: $red;
  }

  p {
    margin-bottom: 0;
  }
}

.breadcrumb-separator {
  background: $bg-gray;
  margin: 0 8px 2px;
  width: 4px;
  height: 4px;
  display: inline-block;
  border-radius: 100%;
}
