.btn {
  border-radius: 8px;
  padding: 16px 24px;
  font-weight: 500;
  line-height: 100%;
  text-align: center;
}

.btn-accent {
  background: $red;
  color: #fff !important;
  transition: $trans-text;

  &:hover {
    background: darken($red, 5%);
  }
}

.btn-white {
  background: #fff;
  color: $text-black;
  transition: $trans-text;

  &:hover {
    background: $bg-black;
    color: #fff;
  }
}

.button-login {
  display: inline-flex;
  align-items: center;
  background: $bg-gray;
  line-height: 120%;
  gap: 6px;
  padding: 6px 12px 6px 8px;
  border-radius: 4px;
  transition: $trans-text;

  svg {
    transition: $trans-text;
  }

  &:hover {
    background: $red;
    color: #fff;

    svg {
      stroke: #fff;
    }
  }
}

.print-btn {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $trans-text;

  svg {
    display: block;
    transition: $trans-text;
  }

  &:hover {
    background: $red;
    color: #fff;
  }
}

.link-arrow {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  line-height: 100%;
  transition: $trans-text;
  &:hover {
    color: $red;
    .link-arrow__icon {
      transform: rotate(45deg);
      background: $red;
      color: #fff;
    }
  }
}

.link-arrow__icon {
  width: 28px;
  height: 28px;
  border-radius: 100%;
  border: 1px solid $red;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $trans-text;

  svg {
    display: block;
    transition: $trans-text;
    width: 18px;
    height: 18px;
  }
}
.burger {
  width: 20px;
  height: 20px;
  // background: #faf6f5;
  border-radius: 8px;
  position: relative;
  display: none;

  span {
    position: absolute;
    height: 2px;
    left: 2px;
    border-radius: 2px;
    background: $bg-black;
    width: 18px;
    transition: $trans-text;

    &:nth-of-type(1) {
      top: 4px;
    }
    &:nth-of-type(2) {
      top: 9px;
    }
    &:nth-of-type(3) {
      bottom: 4px;
    }
  }

  &.active {
    span {
      &:nth-of-type(1) {
        top: 23px;
        transform: rotate(-225deg);
      }
      &:nth-of-type(2) {
        top: 23px;
        width: 0;
      }
      &:nth-of-type(3) {
        bottom: 23px;
        transform: rotate(225deg);
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .burger {
    display: block;
  }
}
