.callout {
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  p {
    margin-bottom: 0;
  }
}

.callout__title {
  font-weight: 700;
  margin-bottom: 4px;
  font-size: 16px;
  position: relative;
  padding-left: 32px;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: #000; /* Цвет иконки */
    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M12 16v-4"/><path d="M12 8h.01"/></svg>');
    mask-repeat: no-repeat;
    mask-position: center;
  }
}
.callout-neutral {
  background: #f5f5f5;
}
