.socials {
  display: flex;
  align-items: center;
  gap: 8px;
}

.social-item {
  width: 64px;
  height: 64px;
  background: $bg-gray-light;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $trans-text;

  &.--tg {
    // background: #0088cc;
  }

  &.--vk {
    // background: #0077ff;
  }

  &:hover {
    // color: $red;
  }
}

.footer {
  .social-item {
    background: #fff;
    color: #1b1b1b;
  }
}
