.h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  margin-top: 0;
}

.h1-country {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 0;
}

.h2 {
  font-weight: 700;
  font-size: 24px;
}

.h3 {
  font-size: 20px;
  font-weight: 700;
}

.title-wrap {
  display: flex;
  align-items: flex-end;
}

.title-wrap__left {
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

.title-wrap__buttons {
  margin-left: auto;
  flex-shrink: 0;
}

@media screen and (max-width: 1440px) {
  .h1 {
    font-size: 32px;
  }
}

@media screen and (max-width: 1200px) {
  .h1 {
    font-size: 28px;
  }
}

@media screen and (max-width: 1024px) {
  .h2 {
    font-size: 20px;
  }
}
