.best-offers__section {
  margin-top: 80px;
  @media screen and (max-width: 1200px) {
    margin-top: 80px;
  }
}

.best-offers__content {
  margin-top: 32px;
  @media screen and (max-width: 768px) {
    margin-top: 16px;
  }
}

.best-offer-card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  aspect-ratio: 10/14;
  display: block;
  display: flex;
  flex-direction: column;

  &:hover {
    .best-offer-card__image {
      transform: scale(1.05);
    }
  }
}

.best-offer-card__image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out !important;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.best-offer-card__info {
  padding: 100px 16px 16px 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  position: relative;
  height: auto;
  bottom: 0;
  z-index: 1;
  margin-top: auto;

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 60%, rgb(0 0 0) 100%);
    pointer-events: none;
    z-index: -1;
  }
}

.best-offer-card__tags {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  z-index: 2;
}

.best-offer-card__tag {
  padding: 4px 8px;
  border-radius: 4px;
  background: $red;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
}

.best-offer-card__location-flag {
  flex-shrink: 0;
  margin-top: 2px;
}

.best-offer-card__title {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: #fff;
  h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
  }

  @media screen and (max-width: 1200px) {
    font-size: 16px;
  }
}

.best-offer-card__rating {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-bottom: 4px;
  svg {
    display: block;
    color: #ffd700;
  }
}

.best-offer-card__type {
  font-size: 14px;
  background: #fff;
  line-height: 100%;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 400;
  display: inline-block;
  color: $text-black;
}

.best-offer-card__location {
  @media screen and (max-width: 1024px) {
    font-size: 12px;
  }
  margin-top: 8px;
  line-height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 8px;
}

.best-offer-card__location-flag {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  overflow: hidden;
  background: #000;
}

.best-offer-card__hr {
  margin-top: 12px;
  background: rgba(255, 255, 255, 0.1);
  height: 1px;
  width: 100%;
}

.best-offer-card__footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 18px;
  margin-left: auto;
}

.best-offer-card__price {
  margin-left: auto;
  font-weight: 700;
  font-size: 16px;
}
