.features-section {
  margin-top: 80px;

  @media screen and (max-width: 1200px) {
    margin-top: 80px;
  }
}

.features__wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: stretch;
  gap: 16px;
  margin-top: 20px;

  @media screen and (max-width: 1200px) {
    gap: 8px;
  }
}

.features-item {
  background: #f8f9fa;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
  position: relative;
  &.--main {
    .features-item__title {
      font-size: 28px;
      @media screen and (max-width: 1024px) {
        font-size: 20px;
      }
    }
  }
}

.features-item__img {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  display: block;
  width: auto;
  height: 100%;
  object-fit: contain;
}

.features-item__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
}

.features-item__subtitle {
  margin-top: 4px;
}

.features-col {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (max-width: 1200px) {
    gap: 8px;
  }
}

.features-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  @media screen and (max-width: 1200px) {
    gap: 8px;
  }
}

@media screen and (max-width: 1024px) {
  .features__wrap {
    grid-template-columns: repeat(1, 1fr);
  }

  .features-row {
    grid-template-columns: repeat(1, 1fr);
  }
}
