.footer {
  margin-top: 80px;
  background: #1b1b1b;
  color: #fff;
}

.footer__top {
  padding-top: 32px;
  // border-top: 1px solid #c8c4c4;
  display: grid;
  gap: 24px;
  grid-template-columns: 2fr 1fr 1fr;
}

.footer-grid {
  padding-top: 16px;
  // display: grid;
  align-items: flex-start;
  gap: 32px;
  grid-template-columns: repeat(4, 1fr);
}

.footer-grid__links {
  display: flex;
  // grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  grid-column: span 2;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding-bottom: 16px;
}

.footer .social-item {
  width: 32px;
  height: 32px;
  color: $red;
  background: rgba(255, 255, 255, 0.05);

  svg {
    width: 18px;
    height: 18px;
  }
}

.footer-contact-col {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: rgba(255, 255, 255, 0.05);
  padding: 8px;
  border-radius: 8px;
}

.footer-contact__title {
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  color: $text-gray;
}
.footer-contact__link {
  color: $red;
  font-size: 16px;
  // font-weight: 600;
  line-height: 100%;
}

.footer-contact__value {
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 0;
}

.footer__contancts {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 16px;
  gap: 24px;
}

.footer__currencies {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 16px;
  gap: 16px;
}

.payments {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer__policy {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  font-size: 14px;
  color: #969393;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  p {
    margin-bottom: 0;
  }
}

.footer__row {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  padding-top: 32px;
}

.footer-policy-link {
  color: $red;
}

.payment-item {
  height: 16px;
  img {
    height: 100%;
    display: block;
    object-fit: contain;
  }
}

.footer-logos {
  padding: 16px 0;
}

.footer-partner {
  height: 40px;
  width: auto;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.footer-logos__wrap {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  .footer__top {
    padding-top: 16px;
  }
  .footer__contancts {
    gap: 16px;
  }
  .footer__policy {
    padding: 16px 0;
  }

  .footer-contact__link {
    font-size: 16px;
  }
  .footer-contact__value {
    font-size: 16px;
  }

  .footer__list {
    font-size: 16px;
    gap: 16px;
  }
}

@media screen and (max-width: 1024px) {
  .footer__top {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .footer__contancts {
    order: 3;
  }

  .footer__list {
    flex-direction: row;
  }
  .footer__nav {
    order: 1;
    flex-direction: row;
  }

  .footer__currencies {
    order: 2;
    flex-direction: row;
    justify-content: space-between;
  }

  .payments {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  //   .footer__list {
  //     flex-direction: column;
  //     justify-content: center;
  //     align-items: center;
  //   }

  .footer__policy {
    flex-direction: column;
    gap: 8px;
  }
}
