.popular-hotels__section {
  margin-top: 120px;
  @media screen and (max-width: 1200px) {
    margin-top: 80px;
  }
}

.popular-hotels__content {
  margin-top: 20px;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;

  &:hover {
    color: inherit;
    .hotel-card__media img {
      transform: scale(1.05);
    }
  }
}

.hotel-card__media {
  aspect-ratio: 16/9;
  border-radius: 8px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    display: block;
    object-fit: cover;
  }
}

.popular-hotels-filter {
  margin-top: 16px;

  @media screen and (max-width: 1200px) {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}

.hotel-card__flag {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  overflow: hidden;
}

.hotel-card__location {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-top: 8px;
  font-size: 14px;
  svg {
    display: block;
  }

  p {
    margin-top: 0;
  }

  .hotel-card__flag {
  }
}

.hotel-card__location-text {
  line-height: 130%;
}

.hotel-card__booking-info {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  gap: 4px;

  .hotel-card__meta-separator {
    opacity: 0.5;
  }
}

.hotel-card__price {
  font-weight: 700;
  font-size: 18px;
  text-align: right;
  margin-top: 8px;

  .hotel-card__price-text {
    display: block;
    font-weight: 400;
    font-size: 14px;
    margin-top: 2px;
    opacity: 0.8;
  }
}

.hotel-card__actions {
  display: flex;
  gap: 8px;
  margin-top: 16px;
  font-weight: 500;
  font-size: 14px;
  align-items: center;
  .hotel-card__btn {
    flex: 1;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.2s ease;
    line-height: 100%;
  }

  .hotel-card__btn-details {
    background: transparent;
    color: #000;
    background: $bg-gray;
    &:hover {
      background: rgba(0, 0, 0, 0.05);
      border-color: rgba(0, 0, 0, 0.3);
    }
  }

  .hotel-card__btn-book {
    background: $red;
    color: #fff;

    &:hover {
      background: darken($red, 5%);
      border-color: darken($red, 5%);
    }
  }
}
.hotel-card__title {
  font-weight: 700;
  font-size: 16px;
}

.hotel-card__tag {
  position: absolute;
  top: 8px;
  border-radius: 4px;
  right: 8px;
  background: #fff;
  color: $text-black;
  font-size: 14px;
  line-height: 100%;
  padding: 4px 8px;
}

.hotel-card-rating {
  position: absolute;
  top: 8px;
  left: 8px;
}

.hotel-card__price {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  justify-content: flex-end;
}

.hotel-card__title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.hotel-card__rating {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-top: 4px;
  svg {
    display: block;
    color: #ffd700;
  }
}

.hotel-card__stars {
  top: 8px;
  left: 8px;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 4px;
  background: $bg-gray;
  padding: 2px 4px;
  border-radius: 4px;

  svg {
    color: #ffd700;
  }
  p {
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
  }
}

// row card

.hotel-card-row {
  border-radius: 8px;
  overflow: hidden;
}

.hotel-card-row__wrap {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 16px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 8px;
  }
}

.hotel-card-row__media {
  aspect-ratio: 16/8;
  height: 150px;
  align-self: stretch;
  display: block;
  flex-shrink: 0;
  border-radius: 8px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  @media screen and (max-width: 768px) {
    height: auto;
  }
}

.hotel-card-row__poster {
  height: 100%;
}

.hotel-card-row__title {
  font-weight: 600;
  font-size: 18px;
  margin-top: 4px;

  @media screen and (max-width: 768px) {
    margin-top: 8px;
  }
}

.hotel-card-row__rating {
}

.hotel-card-row__geo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  margin-top: 8px;
  font-size: 14px;
  line-height: 100%;
  color: $text-gray;
}

.hotel-card-row__excerpt {
  margin-top: auto;
  color: $text-gray;

  @media screen and (max-width: 768px) {
    margin-top: 8px;
  }
}

.hotel-card-row__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hotel-card-button {
  display: inline-block;
  width: 100%;
  font-size: 14px;
}

.hotel-card-cta {
  width: 180px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-self: stretch;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.hotel-card-row__rating {
  @media screen and (max-width: 768px) {
    position: absolute;
    top: 8px;
    right: 8px;
  }
}

.hotel-card__buttons {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media screen and (max-width: 768px) {
    display: grid;
    margin-top: 16px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 550px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.hotel-card-row__body {
  align-self: stretch;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.hotel-card-cta__price {
  color: $red;
  text-align: right;
  font-weight: 500;
}

.resort-hotels {
  margin-top: 64px;
}

.resort-hotels__list {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  gap: 24px;

  @media screen and (max-width: 768px) {
    gap: 40px;
  }
}

.single-hotel__amenities {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 14px;
}

.hotel-tag {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  line-height: 100%;
  border-radius: 4px;
  padding: 4px 8px;
  background: $bg-gray;

  img {
    width: 18px;
    height: 18px;
  }
}

.hotel-map {
  width: 100%;
  height: 400px;
  min-height: 400px;
  position: relative;
}

.hotel-card__includes {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 16px;

  .hotel-card__includes-title {
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
  }

  .hotel-card__anemeties {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
}

.hotel-card__anemeties {
  display: none;
  flex-wrap: wrap;
  margin-top: 8px;
  gap: 4px;
}

.hotel-card__anemetie {
  background: $bg-gray;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 4px;
  img {
    width: 18px;
    height: 18px;
    display: block;
  }
}
