.popular-hotels__section {
  margin-top: 120px;
  @media screen and (max-width: 1200px) {
    margin-top: 80px;
  }
}

.popular-hotels__content {
  margin-top: 20px;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;

  &:hover {
    .hotel-card__media img {
      transform: scale(1.05);
    }
  }
}

.hotel-card__media {
  aspect-ratio: 16/9;
  border-radius: 12px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    display: block;
    object-fit: cover;
  }
}

.popular-hotels-filter {
  margin-top: 16px;
}

.hotel-card__flag {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  overflow: hidden;
}

.hotel-card__location {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  svg {
    display: block;
  }

  p {
    margin-top: 0;
  }
}

.hotel-card__price {
  font-weight: 500;
  text-align: right;
  margin-top: 8px;
}
.hotel-card__title {
  font-weight: 700;
  font-size: 18px;
}

.hotel-card__tag {
  position: absolute;
  top: 8px;
  border-radius: 4px;
  right: 8px;
  background: #fff;
  color: $text-black;
  font-size: 14px;
  line-height: 100%;
  padding: 4px 8px;
}

.hotel-card-rating {
  position: absolute;
  top: 8px;
  left: 8px;
}

.hotel-card__title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 4px;
}

.hotel-card__stars {
  top: 8px;
  left: 8px;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 4px;
  background: $bg-gray;
  padding: 2px 4px;
  border-radius: 4px;

  svg {
    color: #ffd700;
  }
  p {
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
  }
}
