.main-banner__section {
  margin-top: 24px;
}

.main-banners-slider {
  border-radius: 8px;
}

.main-banner__slide {
  aspect-ratio: 16/7;
  border-radius: 8px;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    aspect-ratio: 10/12;
  }
}

.main-banner__slide_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-banner__arrows {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
}
