.header-menu__item {
  position: relative;
}

.mega-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: fit-content;
  max-width: 90vw;
  min-width: 200px;
  padding: 16px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
  z-index: 100;
}

.mega-menu__inner {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 40px;
}

.mega-menu__title,
.mega-menu__link {
  white-space: nowrap;
}

.mega-menu__col {
  display: flex;
  flex-direction: column;
}

.mega-menu__title {
  margin-bottom: 8px;
  color: $text-gray;
  font-size: 14px;
  font-weight: 700;
}

/* Список ссылок */
.mega-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mega-menu__item + .mega-menu__item {
  margin-top: 4px;
}

.header-menu__item:hover > .header-menu__link {
  color: $red;
}
.header-menu__link.--head {
  line-height: 250%;
}
.mega-menu__link {
  color: $text-black;
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover {
    color: $red;
  }
}

.mega-menu--countries {
  position: fixed !important;
  top: 80px;
  left: 0;
  width: 100vw;
  max-width: 1280px;
  background: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 8px;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);

  .mega-menu__inner {
    grid-auto-columns: auto;
  }
}
.mega-menu--countries .mega-menu__inner {
  max-width: 100%;
  margin: 0 auto;
  background: none;
}

.mega-menu--countries .mega-menu__inner {
  max-width: 100% !important;
  width: 100% !important;
}

.header-menu__item:hover .mega-menu--countries {
  display: block;
}

.mega-menu--countries {
  display: none;
}
.header-menu__link.is-active {
  color: $red;
}

.mega-menu__link.is-active {
  color: $red;
}

.countries-letter-list__menu {
  column-count: 4;
  column-gap: 48px;
}

.countries-letter-group {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin: 0 0 20px 0;
  break-inside: avoid;
  display: flex;
  gap: 8px;
  margin: 0 0 24px;
}

.countries-letter-group__letter {
  font-size: 16px;
  font-weight: 700;
  background: $bg-gray;
  border-radius: 4px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
}

@media (min-width: 1024px) {
  .header-menu__item:hover > .mega-menu,
  .header-menu__item > .mega-menu:hover {
    display: block;
  }
}
