.mobile-nav {
  position: fixed;
  overflow-x: hidden;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 90;
  height: calc(100dvh - 50px);
  transform: translateY(-110%);
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  will-change: transform;
}

.mobile-nav.active {
  transform: translateY(0);
}

.mobile-nav__wrap {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  min-height: 0;
}

.mobile-nav__nav {
  border-top: 1px solid $bg-gray;
  display: flex;
  flex-direction: column;

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;

  flex: 1 1 auto;
  min-height: 0;

  padding-bottom: calc(16px + env(safe-area-inset-bottom));
}

.mobile-nav__item {
  display: flex;
  flex-direction: column;
}

.mobile-nav__submenu {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.25s ease;
}

.mobile-nav__item.active .mobile-nav__submenu {
  opacity: 1;
  overflow: hidden;
}

.mobile-nav__link-chevron {
  transition: transform 0.3s ease-in-out;
}

.mobile-nav__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  min-height: 40px;
  border-bottom: 1px solid $bg-gray;
}

.mobile-nav__link.mobile-nav__link--child {
  padding: 12px 0 12px 12px;
  justify-content: flex-start;
}

.mobile-nav__link.active .mobile-nav__link-chevron {
  transform: rotate(180deg);
}

.mobile-nav__item,
.mobile-nav__submenu,
.mobile-nav__link {
  width: 100%;
}

.mobile-nav__link-chevron img {
  display: block;
  max-width: 100%;
}

.mobile-nav__submenu {
  overflow-x: hidden;
}

.mobile-nav__link span {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mobile-nav-contacts {
  background: $bg-gray;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mobile-nav-contacts__item {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 100%;
}

.mobile-nav-socials {
  display: flex;
  justify-content: flex-end;
  .social-item {
    background: $red;
    color: #fff;
  }
}
