.partners {
}

.partners-slider__section {
  margin-top: 120px;
  overflow-x: hidden;
}
.partners-slider-slider {
  margin-top: 32px;
  // overflow: visible;
}

.partner-card {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    display: block;
    height: 100%;
    width: auto;
    object-fit: contain;
  }
}

@media screen and (max-width: 1024px) {
  .partners-slider__section {
    margin-top: 80px;
  }
}
