.promo-banner__section {
  margin-top: 80px;

  @media screen and (max-width: 1200px) {
    margin-top: 80px;
  }
}

.promo-banner-card {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}

.promo-banner-slider-pag {
  &.swiper-pagination {
    position: static;
    height: auto;
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;

    @media screen and (max-width: 768px) {
      justify-content: center;
      margin-top: 16px;
    }
  }
  .swiper-pagination-bullet-active {
    background: $red;
  }
}

@media screen and (max-width: 768px) {
  .promo-banner-card {
    height: auto;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
  }
}
