.subscribe-section {
  margin-top: 80px;

  @media screen and (max-width: 1200px) {
    margin-top: 80px;
  }
}

.subscribe-section__wrap {
}

.subscribe-section__info {
}

.subscribe-section__form_wrap {
}

.subscribe-section-wrap-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 16px;
  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }
}

.subscribe-section__subtitle {
  color: $text-gray;
  margin-top: 8px;
  margin-bottom: 0;
  line-height: 140%;
}
.subscribe-section-wrap-socials {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .socials {
    display: flex;
    gap: 12px;
  }
  .social-item {
    background: #f4f4f6;
    width: 64px;
    height: 64px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 32px;
      height: 32px;
    }

    &:hover {
      svg {
        transform: scale(1.1);
        transition: $trans-text;
      }
    }

    @media screen and (max-width: 1200px) {
      width: 48px;
      height: 48px;
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.subscribe-section__socials-text {
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 0;
  @media screen and (max-width: 1200px) {
    font-size: 18px;
  }
}
.subscribe-section__form {
  display: flex;
  flex-direction: column;
  gap: 8px;

  input {
    width: 100%;
    background: $bg-gray;
  }
}

.subscribe-form__policy {
  margin-top: 8px;
  margin-bottom: 0;
}

.subscribe-form__policy .subscribe-section__subtitle {
  margin-bottom: 0;
}

.subscribe-section__form_wrap {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1200px) {
  .subscribe-section__img {
    width: 48px;
  }

  .subscribe-section__info {
    gap: 4px;
  }
}

@media screen and (max-width: 1024px) {
  .subscribe-section__img {
    display: none;
  }

  .subscribe-section__wrap {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }

  .subscribe-section__info {
    margin-left: 0;
    gap: 8px;
    width: 100%;
    padding: 8px 8px 0;
  }

  .subscribe-section__form {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .subscribe-section__form {
    flex-direction: column;

    .btn {
      width: 100%;
    }
  }

  .subscribe-section__subtitle {
    br {
      display: none;
    }
  }

  .subscribe-form__policy {
    br {
      display: none;
    }
  }
}
