name: Deploy via ftp
on: push
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Upload ftp
        uses: sebastianpopp/ftp-action@releases/v1
        with:
          host: webscape.beget.tech
          user: webscape_bsi
          password: hYdH8sKV!txP
          localDir: "./"
          remoteDir: "webscape.beget.tech/public_html/bsi/wp-content/themes/bsi"
